@{
    ViewBag.Title = "Hem";
}



<div class="channels">
    <section>
        <h1>SVT 1</h1>
        <dl>
            <dt title="Startid 11:00 - Internationella nyheter">18:00 utrikesnyheter</dt>
            <dt title="Startid 11:00 - Internationella nyheter">18:00 utrikesnyheter</dt>
        </dl>
    </section>
    <section>
        <h1>SVT 2</h1>
        <dl>
            <dt title="Scrubs handlar om ett sjukhus">18:00 Scrubs</dt>
            <dt title="Halv åtta hos mig Kanal: Tv4 Starttid: 19.30-Den tredje värden i Jönköping är lagerarbetaren Emma som bland annat visar upp sina jägarkunskaper. På menyn står rökt gåsbröst med waldorfsallad och älgryggbiff med trattkantarellsås. Till dessert blir det lingonparfait med knäckigt flarn.">19:30 Halv åtta hos mig</dt>
        </dl>
    </section>
    <section>
        <h1>TV4</h1>
        <dl>
            <dt title="Startid 11:00 - Internationella nyheter">18:00 utrikesnyheter</dt>
            <dt title="Startid 11:00 - Internationella nyheter">18:00 utrikesnyheter</dt>

        </dl>
    </section>
    <section>
        <h1>TV6</h1>
        <dl>
            <dt title="Startid 11:00-Scrubs handlar om ett sjukhus">18:00 Scrubs</dt>
            <dt title="Startid 11:00-Scrubs handlar om ett sjukhus">19:00 Scrubs</dt>

        </dl>
    </section>
    <section>
        <h1>TV10</h1>
        <dl>
            <dt title="Car Handlar om bilar">16:00 Car S.O.S</dt>
        </dl>
    </section>
    <section>
        <h1>TV12</h1>
        <dl>
            <dt title="Scrubs handlar om ett sjukhus">18:00 Scrubs</dt>
        </dl>
    </section>
</div>